button{
    border: none;
    background-color: transparent;
    margin-bottom: 15px;
    margin-right:15px;
}

i{
    font-size: 25px;
    color: red;
}
img{
    width: 100px;
}
.card{
    padding: 15px !important;
    width: 450px !important;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 0 #0005;
}
.container{
    margin-bottom: 0 !important;
}
.message{
    height: 75vh;
}