button{
    border: none;
    background-color: transparent;
    margin-bottom: 15px;
    margin-right:15px;
}
.card-text{
    height: 100px;
}

i{
    font-size: 25px;
    color: red;
}
.message{
    height: 75vh;
}