i{
    margin-right: 35px;
    font-size: 25px;
    color: red;
}
button{
    border: transparent;
    background-color: transparent;
}
.home{
    color: black;
    margin-right: 5px;
}
.header{
    width: 100vw;
}